
<style>
  .nav.nav-tabs
  {

    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

  }
  .nav-item.nav-link,
  .nav-item.nav-link.active
  {
    border: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#fff;
    background:#272e38;
    border-radius:0;
  }
  .tab-content
  {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #9cccfc;
  padding:30px 25px;
  }
  .nav-item.nav-link:hover,
  .nav-item.nav-link:focus
  {
  border: none;
  background: #9cccfc;
  color:#fff;
  border-radius:0;
  transition:background 0.20s linear;
  }
  .horiz-list
  {
    display: inline;
    width: 25%;
    
  }
  .nav-list
  {
    list-style-type:none;
    margin-left: -15px;
    margin-right: -15px;
  }
  .dropdown-style
  {
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
  }
</style>
